* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: #C32F27;
    color: white;
    display:  flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    margin-top: 1rem;
    width: 100%;
}

.site-title {
    font-size: 2rem;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

}

nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

nav i {
    padding: 1rem;
    color: inherit;
}

nav li:hover {
    background-color: #D8572A;
    transition: ease-in-out 0.4s;
}

.SkiItemList li {
    list-style: none;
    background-color: #C32F27;
    width: 100%;
    padding: 2rem;
}

.SkiItemList {
    padding: 5rem;
    display: flex;
}